/* github.com/irfanshadikofficial*/
html, body{
    background-color: #2C3A47;
    height: 100%;
    margin: 10px;
}
.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: whitesmoke;
    align-items: flex-start;
}
.container > div:nth-child(1n){
    background-color: #e17055;
}
.container > div:nth-child(2n){
    background-color: #34ace0;
}
.container > div:nth-child(3n){
    background-color: #d1ccc0;
}
.container > div:nth-child(4n){
    background-color: #ff5252;
}
.container > div:nth-child(5n){
    background-color: #6ab04c;
}
.container > div:nth-child(6n){
    background-color: #02658b;
}
.container > div:nth-child(7n){
    background-color: #ff5252;
}
.container{
    width: 60%; 
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px auto 50px;
    gap: 20px;
    grid-template-areas: 
    "header header header header"
    "b1 b2 b3 s"
    "m m m s"
    "m m m s"
    "m m m s"
    "m m m s"
    "f f f f";
    border: 1px solid gray;
}
.header{
    grid-area: header;
}
.box1{
    grid-area: b1;
}
.box2{
    grid-area: b2;
}
.box3{
    grid-area: b3;
}
.main{
    grid-area: m;
    height: 240px;
}
.sidebar{
    grid-area: s;
}
.footer{
    grid-area: f;
    height: 70px;
}
.box1, .box2, .box3 {
    height: 208px;
}